<h1 class="title">Ember-PowerBI-UX</h1>
<p>Visit <a href="http://pbiux.azurewebsites.net/" target="_blank">http://pbiux.azurewebsites.net/</a> for the offical Power BI UX. This is an ember addon which attempts to make these icons, colors, and components easily consumed by ember applications.</p>
<p>{{showNavigationLabels}}</p>
<section>
  <header>
    <h2>Colors</h2>
  </header>
  <ul class="colors">
    {{#each uiColors as |color|}}
      <li class="color {{color.name}}">
        <span class="name">{{color.name}}</span>
        <span class="hex">{{color.value}}</span>
      </li>
    {{/each}}
  </ul>
</section>

<section>
  <header>
    <h2>Visual Colors</h2>
  </header>
  <ul class="colors">
    {{#each visualColors as |color|}}
      <li class="color {{color.name}}">
        <span class="name">{{color.name}}</span>
        <span class="hex">{{color.value}}</span>
      </li>
    {{/each}}
  </ul>
</section>

<h2>Icons</h2>
<ul class="icons">
  {{#each standardGlyphs as |icon|}}
    <li class="icon-container">
      {{pbi-icon name=icon size="large"}}
      <span class="name">{{icon}}</span>
    </li>
  {{/each}}
</ul>